// breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;

//
$primaryTextColor: #000000;
$secondaryTextColor: #1C1C1C;
$accentColor: #6F2CFF;
$lightTextColor: #FFFFFF;
$bgDarkColor: #20003C;

$fastTransition: 200ms ease;