.commerce {
    padding-top: 30px;
    padding-bottom: 80px;

    // .commerce__container

    &__container {
        max-width: 1140px;
    }

    // .commerce__title

    &__title {
        margin-bottom: 22px;
    }

    // .commerce_subtitle
        
    &_subtitle {
        margin-bottom: 45px;
        text-align: center;

        @include fontSizeLineHeight(18px, 30px);
    }

    // .commerce__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: -35px;
    }

    // .commerce__item

    &__item {
        @include flexBasis(3, 35px);
        margin: 35px;

        text-align: center;
    }

    // .commerce__icon

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 42px;
    }

    // .commerce__heading

    &__heading {
        margin-bottom: 16px;

        @include fontSizeLineHeight(19px, 23px);
        font-weight: 600;
    }

    // .commerce__text

    &__text {
        @include fontSizeLineHeight(15px, 22px);
        color: $secondaryTextColor;
    }
}