.form {
    display: inline-flex;
    
    border-radius: 28px;
    border: 1px solid $accentColor;
    background-color: #FFFFFF;

    overflow: hidden;

    // .form__input

    &__input {
        padding: 0;
        border: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }

        width: 268px;
        padding: 12px 26px;

        @include fontSizeLineHeight(15px, 21px);
        border-right: 1px solid $accentColor;

        &::placeholder {
            color: rgba(0, 0, 0, .27);
        }
    }

    // .form__button

    &__button {}
}